GEMINI_API_KEY=your_key_here
SENDER_EMAIL=you@gmail.com
GMAIL_PASSWORD=your_app_password
BASE_URL=http://127.0.0.1:5000/check
DB_NAME=ka_data.db 
FLASK_SECRET_KEY=secreet_key_for_flask_app
GOOGLE_FORM_URL=your_google_form_url
